*{
    padding: 20;
    margin: 0;
}
.nav{
    background-color: rgb(252, 252, 252);
    position: fixed;
    margin-left: 50px;
    box-shadow: 0 0 50px 1px #00000068;
    top: 20px;
    width: 95%;
    z-index: 10;
    border-radius: 70px;
    
}
.nav:hover::-webkit-scrollbar-button{
    box-shadow: 0 0.125rem 1.75rem 0 rgb(255, 0, 0);
}

.header
{
    height: 100vh;
    background-size:cover;
    background-image: linear-gradient(rgba(187, 140, 140, 0.415),rgba(0, 0, 0, 0.415)),url(images/banner1.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    z-index: -1;
    
    
}

.header img{
    height: 100px;
    width: 350px;
    padding-left: 50px;
    text-shadow: 0 0.125rem 1.75rem 0 rgb(255, 0, 0);
    
}
.login-btn{
    margin-top: 30px;
    margin-right: -1000px;
    width: 100px;
    padding: 8px 10px;
    outline: none important;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 50px;
    background: linear-gradient(#ffdd00,#ffdd00,#ffffff7e);
    color: rgb(0, 0, 0);
    font-weight: 700;
    float: right;
    box-shadow: 0 0 10px 1px #0000005f;
    top: 10;
    
}
.login-btn2{
    margin-top: 30px;
    margin-right: -880px;
    width: 100px;
    padding: 8px 10px;
    outline: none important;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 50px;
    background: linear-gradient(#ffdd00,#ffdd00,#ffffff7e);
    color: rgb(0, 0, 0);
    font-weight: 700;
    float: right;
    box-shadow: 0 0 10px 1px #0000005f;
    top: 10;
    
}
.login-btn2:hover{
    background-image: linear-gradient(#f6f6f6, #ffdd00);
    direction:ltr;
}

.login-btn:hover{
    background-image: linear-gradient(#f6f6f6, #ffdd00);
    direction:ltr;
}
.header h1{
    padding-top: 220px;
    color: rgb(0, 0, 0);
    text-align:center;
    font-size: 45px;
    font-weight:800;
    text-shadow: 0 0 10px rgb(255, 255, 255)
}
.header f{
    padding-top: 220px;
    color: rgb(255, 230, 0);
    text-align:center;
    font-size: 45px;
    text-shadow: 0 0 10px rgb(0, 0, 0)
}
.header p{
    margin:10 400;
    border-radius: 17px;
    color: rgb(255, 255, 255);
    text-align:center;
    font-style: italic;
    font-size: 25px;
    background-color: #7a7a7a;

}

.input-group{
    width: px;
    height: 50px;
    max-width: 500px;
    border-radius: 7px;
    background:#0066ff00;
    margin: auto;
    padding: 4 4px;
    border: none;
    position:relative;
    box-shadow: 0 0 10px;
}
.input-group-append button{
    background-image: linear-gradient(#f6f6f6, #ffdd00);
    height:100%;
    color: rgb(0, 0, 0);
    border: none;
    width: 100%;
    font-weight: 500;
    border-radius: 7px;
    padding-left: 10px;
    padding-right:10px;
    padding-top: px;
    padding-bottom:10px;
    font-size: larger;
}
.form-control {
    border: 0px;
    border:none;
    position:fixed;
    border-radius: 7px ;
    margin-right: 3px;   
}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#ffffff00,#ffae0b00,#ff0b0b00);
    border: 0;
    color: #ff0000;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 1px;
    padding-bottom:10px;
    border-radius: 7px ;
    box-shadow: none ;
    z-index: 0;
}
.features{
    padding: 100px 0px;
}
.ro{
    display: flex;
}
.features h1{
    text-align: center;
    padding-bottom: 10px;
    margin-top: -90px;
    font-weight: 600;
    color: #ffdd00;

}
.feature-box{
    margin-right: 10px;
}
.feature-img img{
    width: 100%;
    border-radius: 17px;
    position:center;
    height:55%;
}
.price p{
    width: 70px;
    height: 70px;
    padding: center;
    margin: center;
    background: #ffffff;
    padding: 22px 22px;
    font-weight: 600;
    box-shadow: 0 0 10px 5px rgba(208, 170, 0, 0.18);
    border-radius: 50px;
    position: absolute;
    left: 20px;
    bottom: -40px;
}
.feature-img {
    position: relative;
    

}
.rating{
    padding: px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: px;
    padding-bottom: 2px;
    margin: px;
    margin-left: 290px;
    margin-right: px;
    margin-top: px;
    margin-bottom: 10px;
    border-radius: 7px;
    align-items: center;
    background-color: #ffdd00;
    color: #000000;
    position: absolute;
    left: 20px;
    bottom: -10px;
}
.checked{
    color: #ffffff;
}
.feature-details{
    padding: 20px;
    text-align: justify;
    
}
.feature-box:hover{
    cursor: pointer;
    
}

.feature-details h4,p1{
    font-weight: 600;
    margin-top: 20px;
    color: #000000;
    text-decoration: rgb(255, 255, 255) underline;
}
.det {
    margin:10px 0px;
    padding:5 40;
    font-weight: 700;
    margin-left: 0px;
    color: #ffdd00;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 7px;
    
}
.feature-details .fa{
    margin-right:5px;
}
.feature-box{
    box-shadow: 0.5px 5px 10px 1px rgba(0, 0, 0, 0.18);
    border-radius: 17px;
}

.gallery{
    height: 70vh;
    background-size:cover;
    background-color:#e7e7e7;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    padding:160px 0;
    background-repeat: inherit;
}
.gallery h1{
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-top: -100px; 
    margin-bottom: 50px; 
    font-weight: 600;
    color: #ffdd00;  
    background-color:#ffffff;
}
.gallery-box img{
    width:100%;
    height:100%;
    border-radius: 17px;
    cursor: pointer;
    transition: 0.2s;
}

.gallery-box img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.col-md-3 h4:hover{
    transform: scale(1.1);
    
}
.gallery-box h4{
    display:block;
    width:200px;
    
    font-size:xx-large;
    margin: -120px 60px;
    padding: 0px 0px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    color: white;
    text-shadow: 0 0px 15px #ffdd00
}
.banner{
    height: 100%;
    background-image: url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    padding-top: 10%;

}
.banner-high{
    padding:40 0 30px 0;
    background: rgba(0,0,0,0.7);
    text-align: left;
    color:white;
    
}
.booking-btn{
    margin-top: 15px;
    width: 200px;
    padding: 8px 8px;
    outline: none important;
    border: 4px solid #ffdd00;
    border-radius: 50px;
    background: transparent;
    color: rgb(255, 255, 255);
    float: right;
    font-size: 20px;
}
.col-md-8 x{
    color:#ffdd00;
    
}
.user-feedback{
    padding:40px 0px 60 0 ;
}
.user-feedback h1{
    text-align: center;
    color: #ffdd00;
}
.user-review{
    text-align:center;
    box-shadow: 0 0 10px 0 rgba(0, 0 , 100, 0.2);
    padding-bottom: 60px;
    margin-top: 10px;
    border-radius: 15px;
}
.user-review p{
    padding: 30px 10px 0px 10px;
    
    
}
.user-review small{
    margin: 0px 0px 0px 0px;
    
}
.user-feedback img{
    width:90px;
    height: 90px;
    border-radius:50%;
    position:relative;
    margin: -45px 0px 0 160px;
    box-shadow: 0 1px 10px 0 rgb(246, 255, 0);
}

.footer{
    margin:0 0 110px 0;
    padding:60px 20px;
    background-color:#6767671f;
    color:#000000;
}
.footer-logo{
    width: 250px;
    height: 85px;
    margin-top: -20px;
    margin-bottom: 15px;
}
.footer{
    text-align: left;
    height: 350px;
    padding-top: 85px 10;
    margin-bottom: 0%;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 0 15px 1px rgba(0, 0, 0, 0.279);
    
}
.footer p{
    font-size: 12px;
    text-align:justify;
    padding-right:42px;
    padding-left:10px;
    padding-top: 10px;
    
}
.footer .row .fa{
    width:20px;
}
.fa-heart{
    margin:0 0px 0 8px;
    color:#ff0000
}
.footer he{
    font-size: 22px;
    text-align:justify;
    padding-right:30px;
    margin-top: 166px;
    font-weight:500;
    background-color: #ffdd00;
    border-radius: 7px;
    padding-left: 10px;
}
