* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navigation */
.nav {
    background-color: rgb(252, 252, 252);
    position: fixed;
    margin-left: 5%;
    box-shadow: 0 0 50px 1px #00000068;
    top: 20px;
    width: 90%;
    z-index: 10;
    border-radius: 70px;
}

.nav a {
    display: inline-block;
    margin-right: 20px;
}

.nav button {
    float: right;
}

/* Header */
.header {
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(187, 140, 140, 0.415), rgba(0, 0, 0, 0.415)), url(images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    z-index: -1;
}

.header img {
    height: 100px;
    width: 100%;
    max-width: 350px;
    padding-left: 5%;
}

.login-btn {
    margin-top: 30px;
    width: 100px;
    padding: 8px 10px;
    outline: none important;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 50px;
    background: linear-gradient(#ffdd00, #ffdd00, #ffffff7e);
    color: rgb(0, 0, 0);
    font-weight: 700;
    float: right;
    box-shadow: 0 0 10px 1px #0000005f;
}

.login-btn2 {
    margin-top: 30px;
    width: 100px;
    padding: 8px 10px;
    outline: none important;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 50px;
    background: linear-gradient(#ffdd00, #ffdd00, #ffffff7e);
    color: rgb(0, 0, 0);
    font-weight: 700;
    float: right;
    box-shadow: 0 0 10px 1px #0000005f;
}

.login-btn:hover,
.login-btn2:hover {
    background-image: linear-gradient(#f6f6f6, #ffdd00);
    direction: ltr;
}

.header h1 {
    padding-top: 220px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.header f {
    padding-top: 220px;
    color: rgb(255, 230, 0);
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.header p {
    margin: 10px 20px;
    border-radius: 17px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    font-size: 25px;
    background-color: #7a7a7a;
}

/* Input Group */
.input-group {
    max-width: 500px;
    margin: auto;
    padding: 4px;
    position: relative;
    box-shadow: 0 0 10px;
}

.input-group input {
    width: calc(100% - 32px);
    height: 50px;
    border-radius: 7px;
    background: #0066ff00;
    margin-right: 3px;
    border: none;
}

.input-group-append button {
    background-image: linear-gradient(#f6f6f6, #ffdd00);
    height: 100%;
    color: rgb(0, 0, 0);
    border: none;
    width: 100%;
    font-weight: 500;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
}

/* Features */
.features {
    padding: 100px 0;
}

.ro {
    display: flex;
    flex-wrap: wrap;
}

.features h1 {
    text-align: center;
    padding-bottom: 10px;
    margin-top: -90px;
    font-weight: 600;
    color: #ffdd00;
}

.feature-box {
    flex: 1 0 300px;
    margin: 10px;
    box-shadow: 0.5px 5px 10px 1px rgba(0, 0, 0, 0.18);
    border-radius: 17px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.feature-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.feature-img {
    position: relative;
    overflow: hidden;
}

.feature-img img {
    width: 100%;
    border-radius: 17px;
    height: 55%;
    object-fit: cover;
}

.rating,
.price {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.checked {
    color: #ffffff;
}

.rating {
    background-color: #ffdd00;
    color: #000000;
    border-radius: 7px;
    margin: 10px;
}

.price p {
    width: 70px;
    height: 70px;
    padding: center;
    margin: center;
    background: #ffffff;
    padding: 22px 22px;
    font-weight: 600;
    box-shadow: 0 0 10px 5px rgba(208, 170, 0, 0.18);
    border-radius: 50px;
}

.feature-details {
    padding: 20px;
    text-align: justify;
}

.feature-details h4,
p1 {
    font-weight: 600;
    margin-top: 20px;
    color: #000000;
    text-decoration: underline;
}

.det {
    margin: 10px 0;
    padding: 5px 40px;
    font-weight: 700;
    color: #ffdd00;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 7px;
}

.feature-details .fa {
    margin-right: 5px;
}

